body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    font-family: "default-gothic";
    color: #fff;
}

a, a:visited, a:active, a:hover {
    color: #fff;
}

#tabletContainer {
    position: relative;
    width: 960px;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    position: absolute;
    overflow: hidden;
    width: 824px;
    height: 618px;
    left: 68px;
    top: 67px;
    background-color: #000;
}

#container > div {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#introView {
    background: url("../images/backstack-splash.jpg") no-repeat;
}

a.start-demo, a.start-demo:visited {
    position: absolute;
    right: 80px;
    bottom: 80px;
    color: #999;
}

#navBar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 45px;
    background: #363636 url(../images/top-bar-pattern.png) repeat left top;
}

#subviewsContainer {
    position: absolute;
    top: 45px;
    bottom: 0;
    width: 100%;
}

#mainView {
    background: url("../images/backstack-bg.jpg") no-repeat;

}

button.nav-bar-btn {
    font-weight: bold;
    color: #aaaaaa;
    font-size: 0.9em;
    letter-spacing: 0.08em;
    background: transparent url(../images/top-bar-separator.png) repeat-y right top !important;
    border: none;
    padding: 0px 12px !important;
    position: static;
    float: left;
    height: 100%;
    vertical-align: middle;
}

button.nav-bar-btn:hover, button.nav-bar-btn:active, button.nav-bar-btn.down {
    color: #fff;
}

#aboutView > *, #apiView > * {
    margin-left: 1em;
    margin-right: 1em;
}

#ifJsfiddle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 573px
}

#apiView {
    overflow-y: scroll !important;
}