body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
}

p {
    font-family: "default-gothic";
}

#tabletContainer {
    position: relative;
    width: 960px;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    position: absolute;
    overflow: hidden;
    width: 824px;
    height: 618px;
    left: 68px;
    top: 67px;
    background-color: #f9f9f9;
}

#container > div {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#introView {
    display: table;
}

#introView > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}